<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>AirPlay settings</string>
	<key>pfm_title</key>
	<string>AirPlay</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_version</key>
	<integer>1</integer>
	<key>pfm_domain</key>
	<string>com.apple.airplay</string>
	<key>pfm_ios_min</key>
	<string>7.0</string>
	<key>pfm_macos_min</key>
	<string>10.10</string>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_name</key>
			<string>name</string>
			<key>pfm_title</key>
			<string>Name</string>
			<key>pfm_description</key>
			<string>Name</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>commonName</string>
			<key>pfm_title</key>
			<string>Common Name</string>
			<key>pfm_description</key>
			<string>Common Name</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>hash</string>
			<key>pfm_title</key>
			<string>Hash</string>
			<key>pfm_description</key>
			<string>Hash</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>countryName</string>
			<key>pfm_title</key>
			<string>Country Name</string>
			<key>pfm_description</key>
			<string>Country Name</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>organizationName</string>
			<key>pfm_title</key>
			<string>Organization Name</string>
			<key>pfm_description</key>
			<string>Organization Name</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>version</string>
			<key>pfm_title</key>
			<string>Version</string>
			<key>pfm_description</key>
			<string>Version</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>serialNumber</string>
			<key>pfm_title</key>
			<string>Serial Number</string>
			<key>pfm_description</key>
			<string>Serial Number</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>serialNumberHex</string>
			<key>pfm_title</key>
			<string>Serial Number Hex</string>
			<key>pfm_description</key>
			<string>Serial Number Hex</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>validFrom</string>
			<key>pfm_title</key>
			<string>Vaild From</string>
			<key>pfm_description</key>
			<string>Vaild From</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
			<dict>
			<key>pfm_name</key>
			<string>validTo</string>
			<key>pfm_title</key>
			<string>Vaild To</string>
			<key>pfm_description</key>
			<string>Vaild To</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>validFrom_time_t</string>
			<key>pfm_title</key>
			<string>Vaild From</string>
			<key>pfm_description</key>
			<string>Vaild From</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>validTo_time_t</string>
			<key>pfm_title</key>
			<string>Vaild To</string>
			<key>pfm_description</key>
			<string>Vaild To</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>signatureTypeSN</string>
			<key>pfm_title</key>
			<string>Signature Type SN</string>
			<key>pfm_description</key>
			<string>Signature Type SN</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>signatureTypeLN</string>
			<key>pfm_title</key>
			<string>Type Signature</string>
			<key>pfm_description</key>
			<string>Type Signature</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>signatureTypeNID</string>
			<key>pfm_title</key>
			<string>Type</string>
			<key>pfm_description</key>
			<string>Type</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>purpose</string>
			<key>pfm_title</key>
			<string>Purpose</string>
			<key>pfm_description</key>
			<string>Purpose</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>keyUsage</string>
			<key>pfm_title</key>
			<string>Key Usage</string>
			<key>pfm_description</key>
			<string>Key Usage</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>extendedKeyUsage</string>
			<key>pfm_title</key>
			<string>Extended Key Usage</string>
			<key>pfm_description</key>
			<string>Extended Key Usage</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>basicConstraints</string>
			<key>pfm_title</key>
			<string>Basic Constraints</string>
			<key>pfm_description</key>
			<string>Basic Constraints</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>subjectKeyIdentifier</string>
			<key>pfm_title</key>
			<string>Subject Key Identifier</string>
			<key>pfm_description</key>
			<string>Subject Key Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>authorityKeyIdentifier</string>
			<key>pfm_title</key>
			<string>Authority Key Identifier</string>
			<key>pfm_description</key>
			<string>Authority Key Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>authorityInfoAccess</string>
			<key>pfm_title</key>
			<string>Authority Info Access</string>
			<key>pfm_description</key>
			<string>Authority Info Access</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>subjectAltName</string>
			<key>pfm_title</key>
			<string>Subject Alternative Name</string>
			<key>pfm_description</key>
			<string>Subject Alternative Name</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>certificatePolicies</string>
			<key>pfm_title</key>
			<string>Certificate Policies</string>
			<key>pfm_description</key>
			<string>Certificate Policies</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>ct_precert_scts</string>
			<key>pfm_title</key>
			<string>CT Precertificate SCTs</string>
			<key>pfm_description</key>
			<string>CT Precertificate SCTs</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Certificate</string>
		</dict>
	</array>
</dict>
</plist>
